// Skrypt zasobow wygenerowany przez program Microsoft Visual C++.
//
#include "resource.h"


#define APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Wygenerowane z zasobu TEXTINCLUDE.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif

#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////

#undef APSTUDIO_READONLY_SYMBOLS




#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_PLK)
LANGUAGE 21, 1

/////////////////////////////////////////////////////////////////////////////
// ICONS
//
// Ikona z najnizsza wartoscia identyfikatora umieszczana jest jako pierwsza,
// aby zapewnic, ze ikona aplikacji pozostanie spojna we wszystkich systemach.
//
IDI_MAIN        ICON    "main.ico"
IDI_SMALL       ICON    "small.ico"
/////////////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////////
// MENU
//
IDC_SIMPLEAPP   MENU
BEGIN
    POPUP "&Plik"
    BEGIN
        MENUITEM "Za&koñcz",            IDM_EXIT
    END
    POPUP "Pomo&c"
    BEGIN
        MENUITEM "&O programie...",     IDM_ABOUT
    END
END
/////////////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////////
// ACCELERATORS
//
IDC_SIMPLEAPP   ACCELERATORS
BEGIN
    "?",        IDM_ABOUT,      ASCII,  ALT
    "/",        IDM_ABOUT,      ASCII,  ALT
END
/////////////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////////
// DIALOGS
//
/////////////////////////////////////////////////////////////////////////////
// Okno dialogowe "O programie"
//
IDD_ABOUTBOX    DIALOGEX  0, 0, 168, 64
STYLE   DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "O programie"
FONT    8, "MS Shell Dlg"
BEGIN
    ICON   IDI_MAIN,                IDC_STATIC, 14, 14, 21, 20
    LTEXT  "SimpleApp, Wersja 1.0", IDC_STATIC, 42, 14,114,  8
    LTEXT  "Copyright (c) 2024",    IDC_STATIC, 42, 26,114,  8

    DEFPUSHBUTTON  "OK",            IDOK,      112, 42, 48, 14, WS_GROUP
END
/////////////////////////////////////////////////////////////////////////////




#ifdef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// DESIGNINFO
//
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN,     8
        RIGHTMARGIN,  160
        TOPMARGIN,      8
        BOTTOMMARGIN,  56
    END
END
/////////////////////////////////////////////////////////////////////////////

#endif // APSTUDIO_INVOKED




#ifdef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END
/////////////////////////////////////////////////////////////////////////////

#endif // APSTUDIO_INVOKED




/////////////////////////////////////////////////////////////////////////////
// STRINGTABLE
//
STRINGTABLE
BEGIN
   IDC_SIMPLEAPP        "SIMPLEAPP"
   IDS_APP_TITLE        "Zadania z WinAPI :: Prosta aplikacja"
END
/////////////////////////////////////////////////////////////////////////////

#endif




#ifndef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Wygenerowane z zasobu TEXTINCLUDE.
//

/////////////////////////////////////////////////////////////////////////////

#endif // not APSTUDIO_INVOKED
